{namespace soy.test}


{template test}
{productpics($product)}
/* TEST {\n} */
/* /\* {$test['test-test']} *\/ */
/* {$data} */
/* /\* {call test data="all" /} *\/ */
/* {$test} {\n} */
/* {$a} */

/* {test($test)} */

/* {switch $test} */
/*   {case 1} */
/*     123 */
/*   {case 2} */
/*     234 */
/*   {default} */
/*     test */
/* {/switch} */

{/template}
